* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  min-width: 1000px;
  box-sizing: border-box;
}

.wrapper {
  background-image: url(../img/watches.jpg);
  background-size: 50%;
  background-position: right center;
  background-repeat: no-repeat;
  height: 800px;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.header-menu {

}

.menu {
  display: flex;
}

.menu-item {
  margin-left: 25px;
}

.menu-link {
  color: #797676;
  font-weight: 500;
}

.menu-link:hover {
  border-bottom: 2px solid #222;
  transition-duration: 1s ease;
}

.freedom {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 450px;
}

.freedom-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 50px;
}

.text-box {
  display: flex;
}

.line {
  width: 10px;
  height: 140px;
  background-color: #797676;
  margin-top: 10px;
  margin-right: 50px;
}

.freedom-text {
  font-size: 16px;
  line-height: 2;
}

.button {
  margin-top: 30px;
}

.freedom-button {
  color: white;
  background-color: tomato;
  padding: 8px 15px;
  text-transform: uppercase;
}

.freedom-button:hover {
  background-color: #e22427;
  transition-duration: 1s ease;
}

.wrap {

}

.info-space {
  display: flex;
  justify-content: space-between;
}

.info-box-know {
  width: 300px;
  margin-top: 20px;
}

.info-box-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
}

.info-box-text {
  width: 250px;
  font-size: 14px;
  line-height: 22px;
}

.dot {
  font-size: 30px;
  color: rgb(79, 143, 143);
}

.learn-more {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.info-line {
  width: 90px;
  height: 3px;
  background-color: #eb2428;
}

.info-learn-more {
  background-color: white;
  color: #eb2428;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(-30px);
}

.info-learn-more:hover {
  transform: translateX(10px);
}

.sport-box {
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.sport-left-box {
  width: 500px;
}

.sport-box-title {
  width: 400px;
  font-weight: 700;
  font-size: 48px;
  color: #222;
  margin-bottom: 50px;
}

.sport-box-info {
  display: flex;
}

.sport-line {
  margin-top: 5px;
  width: 2px;
  height: 100px;
  background-color: #222;
  margin-right: 60px;
}

.sport-box-text {
  width: 300px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 15px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.sport-button {
  text-transform: uppercase;
  color: #fff;
  padding: 8px 15px;
  background-color: #df3d3f;
}

.sport-button:hover {
  transition-duration: 1s ease;
  background-color: #eb2428;
}

.footer {
  margin-top: 60px;
  background-image: url(../img/runners.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
}

.footer-box {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(50%);
}

.footer-title {
  font-size: 48px;
  font-weight: 900;
  color: white;
  margin-bottom: 25px;
}

.footer-text-box {
  display: flex;
}

.footer-text-line {
  width: 2px;
  height: 130px;
  margin-right: 30px;
  background-color: rgb(204, 197, 197);
}

.footer-text {
  width: 300px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(235, 231, 231);
  margin-bottom: 40px;
}

.footer-button  {
  background-color: #e22427;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 18px;
  transition-duration: 0.5s ease;
}

.footer-button:hover  {
  background-color: #eb2428;
 
}